{% extends "layout.html" %}

{% block title %}
    Buy
{% endblock %}

{% block main %}

    <form action="/buy" method="post">
        <div class="form-group">

            <!--find symbol input-->
            <p>
                <input autocomplete="off" autofocus class="form-control" id ="symbol" name="symbol" placeholder="Find Stock" type="text">

                <input class="form-control" style="width: 70px" id = "num_stock" name="shares" type="number" min="1">

                <button id="find" class="btn btn-primary" type="submit">Buy</button>
            </p>

            <div class="error">{{ error }}</div>

        </div>

        <script>
            symbol.onkeyup = function(){
                document.querySelector(".error").style.display = "none";
            };

        </script>
    </form>

{% endblock %}