{% extends "layout.html" %}

{% block title %}
   History
{% endblock %}

{% block main %}
    <p style="font-size:20px; font-weight:bold">History</p>

    <table class="table table-striped" style="font-size:13px">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Symbol</th>
                <th scope="col">Price</th>
                <th scope="col">Amount</th>
                <th scope="col">Type</th>
                <th scope="col">Time</th>
            </tr>
        </thead>

        <tbody>
            {% if stock != None %}
                {% for row in stocks %}
                    <tr>
                        <td>{{ row["name"] }}</td>
                        <td>{{ row["stock"] }}</td>
                        <td>{{ usd(row["price"]) }}</td>
                        <td>{{ row["amount"] }}</td>
                        <td>{{ row["type"] }}</td>
                        <td>{{ row["time"] }}</td>
                    </tr>
                {% endfor %}
            {% endif %}

    </table>


{% endblock %}