{% extends "layout.html" %}

{% block title %}
    Quote
{% endblock %}

{% block main %}
    <form action="/quote" method="post">
        <div class="form-group">

            <!--find symbol input-->
            <p>
                <input autocomplete="off" autofocus class="form-control" id ="symbol" name="symbol" placeholder="Find Stock" type="text">
                <button id="find" class="btn btn-primary" type="submit">Find</button>
            </p>

        </div>
    </form>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Symbol</th>
                <th>Price</th>
            </tr>
        </thead>

        <tbody>
            {% if stock != null %}
                <tr>
                    <td>{{ stock["name"] }}</td>
                    <td>{{ stock["symbol"] }}</td>
                    <td>{{ usd(stock["price"]) }}</td>
                </tr>
            {% endif %}
        </tbody>

    </table>

{% endblock %}