{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <form action="/register" method="post">
        <div style="font-weight: bold; font-size: 20px">
            Register
        </div>
        <br>
        <div class="form-group">

            <!--username register-->
            <input autocomplete="off" autofocus class="form-control" id ="username" name="username" placeholder="Username" type="text">

        </div>
        <div class="error">{{error}}</div>
        <div class="form-group">

            <!--password register-->
            <input type="password" id="password" class="form-control" name ="password" placeholder="Password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"

            title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 characters" required>
        </div>
        <div id="validation" class="validation">
            <div id="form-validation" class="form-validation">
                <p style="font-weight:bold">Password Validation</p>
                <hr>
                <div>
                    <!--validation-->
                    <p id="number" class="invalid">Contain at least one number</p>
                    <p id="charac" class="invalid">Contain at least 8 characters</p>
                    <p id="uppercase" class="invalid">Contain at least one uppercase letter</p>
                </div>
            </div>
            <br ="form-validation">
        </div>

        <div class="form-group">

            <!--password confirmation-->
            <input type="password" id="password_confirmation" class="form-control" name ="confirmation" placeholder="Confirm Password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
            title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 characters" required>

        </div>

        <button id="button" class="btn btn-primary" type="submit">Register</button>

    </form>

{% endblock %}