.title
{
    font-family: Arial;
    height: 100%;
    width: 20%;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #0c0c0c;
    overflow-x: hidden;
    padding-top: 2%;
    padding-left: 1.5%;
    padding-right: 1.5%;
}

.seperator
{
    background-color: #545655;
}
.sb_title
{
    padding-right: 40px;
    font-weight: bold;
    color: white;
    font-size: 40px;
    padding-bottom: 3%;
}

.sb_link
{
    color: white;
    font-size: 20px;
}

.footer
{
    font-size: 25px;
    color: white;
    position: absolute;
    top: 90%;
    left: 40%;
}

.content
{
    height: 100%;
    width: 80%;
    color: black;
    position: absolute;
    left: 20%;
}

.dojyaaan
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 50px;
    width: 400px;
}

.content2
{
    text-align: center;
    padding-top: 30px;
    font-size: 35px;
    font-family: tahoma;
    font-weight: bold;
}

.gobeyond:hover, .cs50web:hover
{
    background-color: #c1c1c1;
}

.seperator2
{
    background-color: #c1c1c1;
    margin-left: 50px;
    margin-right: 50px;
}

#temp
{
    text-align: center;
    font-size: 30px;
    margin-top: 20px;
    margin-left: 100px;
    margin-right: 100px;
    border: 2px solid black;
    background-color: white;
    color: black;
}

.about
{
    margin-left: 50px;
    margin-top: 70px;
    font-size: 40px;
    font-weight: bold;
}

.container-fluid
{
    margin-left: 50px;
}

.purpose1, .inspiration1
{
    font-weight: bold;
    font-size: 25px;
}
.purpose2, .inspiration2, .cs50web
{
    font-size: 23px;
}
.purpose1, .purpose2
{
    display:inline;
}

.inspiration1 , .inspiration2
{
    display:inline;
}

.tab
{
    text-align: center;
    font-size: 28px;
    height: 100px;
    margin-top: 50px;
    margin-right: 100px;
    border-style: solid;
    border-color: #00CED1;
    background-color: #E0FFFF;
    color: black;
}

.tab2
{
    text-align: left;
    font-size: 28px;
    height: 60%;
    margin-top: 50px;
    margin-right: 100px;
    border-style: solid;
    border-color: #aaaaaa;
    background-color: white;
    color: black;
}

.tab2_, .skills
{
    margin: 20px;
}


.skills_border
{
    text-align: left;
    height: 37%;
    margin:20px;
    border-style: solid;
    border-color: #aaaaaa;
    background-color: #c1c1c1;
    color: black;
}

.text
{
    margin: 5px;
    font-size: 100%;
    font-family: arial;
}

.faq
{
    padding-top: 15px;
    font-size: 30px;
    font-weight: bold;
}

.tab3
{
    text-align: left;
    font-size: 25px;
    height: 65px;
    margin-top: 10px;
    margin-right: 100px;
    border-style: solid;
    border-color: #aaaaaa;
    background-color: white;
    color: black;
}

.tab3_text
{
    padding-left: 15px;
    padding-top: 10px;
}